<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186174933856-ql5d3ur7seo0ji3jj6ubbsstrgh06naa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186174933856-ql5d3ur7seo0ji3jj6ubbsstrgh06naa</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rLQGmFXOdxMWlbsQnrEzXWsdSA-rXuo</string>
	<key>GCM_SENDER_ID</key>
	<string>186174933856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.dummyMarketplace</string>
	<key>PROJECT_ID</key>
	<string>first-fb-proj-b4703</string>
	<key>STORAGE_BUCKET</key>
	<string>first-fb-proj-b4703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186174933856:ios:e0d493dad754f2ec1c2c05</string>
</dict>
</plist>