.demo a {
    position: absolute;
    bottom: 2em;
    left: 50%;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.5;
}

#section05 a {
    padding-top: 2em;
}

  #section05 a span {
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animation 1.5s infinite;
    animation: animation 1.5s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes animation {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes animation {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }