html, body{
    height: 100%;
    margin: 0 2em;
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

body {
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
  }


#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nav-bar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar a {
    text-decoration: None;
    padding: 2em;
    color: white;
    transition: transform 0.3s ease;
    transform-origin: center;
    display: block;
  }
  
#nav-bar a:hover {
    transform: scale(1.5);
    background: linear-gradient(to right, #e3ff73, #e27c39); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-bar ul{
    list-style: none;
}

#nav-bar .left-nav,
#nav-bar .right-nav ul li {
    display: inline-block;
}

#nav-bar .right-nav a{
    color: white;
}
#nav-bar .left-nav a{
    color: grey;
}
  
#me {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10em 5em;
  }

#me .my-name {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: -20px;
    }

#me .my-description {
    background: linear-gradient(to right, #e3ff73, #e27c39); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1em;
    }

#me .my-summary{
    display: block;
    color: grey;
    margin-top: 4em;
    margin-right: 60%;
}

.tech-stack{
    margin-top: 30%;
    margin-left: 55%;
    font-size: 1.5rem;
}

.tech-stack i{
    background: linear-gradient(to right, #e3ff73, #e27c39); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 2rem;
}

.location{
    margin-top: 1.5em;
    margin-left: 16.5em;
}

.hello-again{
    font-size: 2em;
    background: linear-gradient(to right, #e3ff73, #e27c39); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me{
    margin-left: 55%;
    margin-right: 2em;
    margin-top: -35%;
    color: grey;
}

.footer{
    text-align: center;
    padding: 10em 10em 0 10em;
}

.footer i{
    margin-right: 2em;
    font-size: 1.5em;
    background: linear-gradient(to right, #e3ff73, #e27c39); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}